@use "@/styles/variables.scss" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-xxxl;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: $spacing-xxl;
  padding-right: 0;
}

.imageWrapper {
  position: relative;
  width: 65%;
  aspect-ratio: 1800 / 1250;
}

.description {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  gap: $spacing-xl;
}
