:root {
  --background: #ffffff;
  --surface: #f5f5f5;
  --text-01: #282828;
  --text-02: #8c8c8c;
  --primary: #00a965;
  --on-primary: #ffffff;

  --grades: #347af0;
  --cacheout: #8143c7;
  --anita-cleaning: #347af0;
  --njam-geography: #0040a6;
}

$spacing-xxs: 4px;
$spacing-xs: 6px;
$spacing-s: 8px;
$spacing-m: 12px;
$spacing-l: 16px;
$spacing-xl: 24px;
$spacing-xxl: 32px;
$spacing-xxxl: 64px;
$card-border-radius: 16px;
