@use "@/styles/breakpoints.scss" as *;

.heading-1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 0%;

  @media (max-width: $breakpoint-xs) {
    font-size: 40px;
  }
}

.heading-2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.body-1 {
  font-size: 16px;
  font-weight: 400;
}

.body-1-bold {
  font-size: 16px;
  font-weight: 700;
}

.body-2 {
  font-size: 14px;
  font-weight: 400;
  @media (max-width: $breakpoint-xs) {
    line-height: 1.2;
  }
}
