@use "@/styles/breakpoints.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.entries {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.entry {
  display: flex;
  gap: 12px;
}

.entryText {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 16px;

  @media (max-width: $breakpoint-xs) {
    flex-direction: column;
    padding-bottom: 12px;
    gap: 6px;
  }

  &.last {
    padding-bottom: 6px;
  }
}

.title {
  width: 50%;

  @media (max-width: $breakpoint-xs) {
    margin-bottom: -2px;
    width: 100%;
  }
}

.date {
  display: flex;
  justify-content: end;
  width: 50%;

  @media (max-width: $breakpoint-xs) {
    justify-content: start;
    order: 3;
  }
}
