@use "@/styles/variables.scss" as *;

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--background);
}

.content {
  max-width: 1440px;
  width: 100%;
  padding: $spacing-xxl $spacing-xxxl;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  display: flex;
}

.fullName {
  overflow: hidden;
}

.actions {
  display: flex;
  gap: $spacing-xxl;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s ease;
  cursor: pointer;

  &:hover {
    color: var(--primary);
  }
}
