@use "@/styles/breakpoints.scss" as *;

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--header-z-index);
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--background);
  padding: 32px 64px;

  @media (max-width: $breakpoint-xs) {
    padding: 24px;
  }
}

.content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  display: flex;
}

.fullName {
  overflow: hidden;
}

.actions {
  display: flex;
  gap: 32px;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s ease;
  cursor: pointer;

  &:hover {
    color: var(--primary);
  }
}
