@use "@/styles/breakpoints.scss" as *;

.container {
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--on-primary);
  text-wrap: nowrap;
}

.responsive {
  @media (max-width: $breakpoint-xs) {
    font-size: 0;

    &::after {
      font-size: 16px;
      content: "Web App";
    }
  }
}
