@use "@/styles/breakpoints.scss" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  gap: 96px;

  @media (max-width: $breakpoint-md) {
    height: 80vh;
    flex-direction: column;
    padding: 24px;
    gap: 32px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-wrap: nowrap;

  @media (max-width: $breakpoint-md) {
    order: 1;
    align-items: center;
  }
}

.heyText {
  @media (max-width: $breakpoint-xs) {
    display: none;
  }
}

.image {
  width: 100%;
  aspect-ratio: 5 / 4;
  max-width: 520px;
  border-radius: 16px;
  background-color: var(--surface);

  @media (max-width: $breakpoint-md) {
    max-width: 600px;
  }
}
