@use "@/styles/variables.scss" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-xxxl;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: $spacing-xxl;
}

.imageWrapper {
  position: relative;
  width: 45%;
  aspect-ratio: 3000 / 2500;
}

.description {
  display: flex;
  max-width: 392px;
  flex-direction: column;
  gap: $spacing-xl;
}
