@use "@/styles/breakpoints.scss" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px;

  @media (max-width: $breakpoint-xs) {
    flex-direction: column;
    padding: 24px;
    gap: 16px;
  }
}

.imageWrapper {
  position: relative;
  width: 45%;
  aspect-ratio: 3000 / 2500;

  @media (max-width: $breakpoint-xs) {
    width: 100%;
  }
}

.description {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  gap: 24px;

  @media (max-width: $breakpoint-xs) {
    gap: 8px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (max-width: $breakpoint-xs) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.details {
  line-height: 1.3;
}
